body{
    background-color: #FAF7F0;
}

.Aster{
    display: inline-block;
    background: white;
    width: 100%;
    height:auto;
    margin: 0;
    padding: 0;
}

.Aster img{
    float: left;
    width: 100px;
    height: 70px;
    padding-right:600px;
}

/* Add a black background color to the top navigation */
.bar{
    overflow: hidden;
  }
  /* Style the links inside the navigation bar */
  .bar a {
    float: left;
    display: block;
    text-decoration: none;
    color:black;
    font-family: Arial;
    text-align: center;
    padding: 25px 20px;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  
  .bar a:hover{
    background-color:#FAF7F0;
    color: #BCCEF8;
  }
  /* Add an active class to highlight the current page */
  /*look at this its not acttivated*/
  .bar a.active{
    background-color:#BCCEF8;
    text-align: center;
  }
  /* Hide the link that should open and close the topnav on small screens */
  
  .bar .icon{
    display: none;
  }
  .logIn{
    overflow: hidden;
    background-color: white;
    width: 100%;
  }
  .logIn a{
    background-color:#BCCEF8 ;
    float: left;
    display: block;
    text-decoration: none;
    color:black;
    font-family: Arial;
    text-align: center;
    padding: 25px 20px;
    font-size: 17px;
    margin-right: 10px;
  }

 .logIn a:hover{
  background-color:#CDFCF6;
 }
  .AsterImg{
   
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    background-image: url('image/AsterHomePage.PNG');
    background-size:100%;
    max-width:100%;
    height:auto;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    padding-top: 10px;
  }  

  .AsterImg input{
    border-radius: 4px;
    border:none; 
    margin-top:430px;
    margin-left: 200px;
    margin-right:0px;
    margin-bottom:40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 120px;
}

.AsterImg button{
    background-color: #BCCEF8;
    color: black;
    margin-top:430px;
    margin-left:5px;
    margin-right:0px;
    margin-bottom:40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    border:none; 
    
  } 
 
  @media screen and (max-width: 800px) {
    .JoinUs {   
      width: 100%;
      padding: 0;
    }
  }


  h3{
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  padding: 10px;
  }



  /*img galury New In Highlighters*/
  .whatIsAster{
    padding: 30px;
  }
  .whatIsAster h1,h2{
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  }
  .whatIsAster p{
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    }


  .newInProducts{
    float: left;
    content: "";
    /*display: table;*/
    clear: both;
    width: 100%;
    padding-bottom: 50px;
    border: #BCCEF8;
    padding-left: 40px;
   
  }
  .newInProducts h4{
    font-family: Arial;
    font-size: 20px;
    color: balck;
    padding-left: 30px;
    color: #98A8F8;
    margin-top: 0px;
  }
  .newInProducts p{
    font-family: Arial;
    font-size: 10px;
    color: balck;
   
  }

  .newInProducts a{
    font-family: Arial;
    font-size: 30px;
    color: black;
    cursor: pointer;

  }
.newIn{
    text-align: center;
    color: balck;
    margin-top: 0px;
    margin-left: 35px;
  
    padding-top:0px;
  
    margin-bottom: 10px;
    width: 25%;
    float: left; 
  
  }

  .ShopeNow{
    background-color: #CDFCF6;
    padding-right:0px;
    padding-bottom:5px;
    padding-top: 10px;
  }

  
  .slideshow-container {
    float: left;
    padding-left:0px;
    position: relative;
    margin: auto;

  }
  .slideshow-container img{
    width: 350px;
    height: 250px;
     
  }

  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
/* might delet this later*/
  @media screen and (max-width: 800px) {
    .newInProducts,.newIn {   
      width: 100%;
      padding: 0;
    }
  }

  .skincare{
    float: left;
    content: "";
    /*display: table;*/
    clear: both;
    width: 100%;
    padding-bottom: 50px;
    border: #BCCEF8;
   
  }
  .skincare h4{
    font-family: Arial;
    font-size: 20px;
    color: balck;
    padding-left: 30px;
    color: #CDFCF6;
    margin-top: 0px;
  }
  .skincare p{
    font-family: Arial;
    font-size: 10px;
    color: balck;
   
  }

  .skincare a{
    font-family: Arial;
    font-size: 30px;
    color: black;
    cursor: pointer;

  }

  

  .skinCarenewIn{
    text-align: center;
    color: balck;
    margin-top: 0px;
    margin-left: 35px;
  
    padding-top:0px;
  
    margin-bottom: 10px;
    width: 25%;
    float: left; 
  
  }
  .skinCareShopeNow{
    background-color: #BCCEF8;
    padding-right:0px;
    padding-bottom:5px;
    padding-top: 10px;
  }
  .slideshow-container-skincare{
    float: left;
    padding-left:0px;
    position: relative;
    margin: auto;

  }
  .slideshow-container-skincare img{
    width: 350px;
    height: 250px;
     
  }

  .active-skincare {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade-skincare {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade-skincare {
    from {opacity: .4} 
    to {opacity: 1}
  }
/* might delet this later*/
  @media screen and (max-width: 800px) {
    .skinCare,.skinCarenewIn {   
      width: 100%;
      padding: 0;
    }
  }


  .Haircare{
    float: left;
    content: "";
    /*display: table;*/
    clear: both;
    width: 100%;
    padding-bottom: 50px;
    border: #BCCEF8;
   
  }
  .Haircare h4{
    font-family: Arial;
    font-size: 20px;
    color: balck;
    padding-left: 30px;
    color: #98A8F8;
    margin-top: 0px;
  }
  .Haircare p{
    font-family: Arial;
    font-size: 10px;
    color: balck;
   
  }

  .Haircare a{
    font-family: Arial;
    font-size: 30px;
    color: black;
    cursor: pointer;

  }

  

  .HaircarenewIn{
    text-align: center;
    color: balck;
    margin-top: 0px;
    margin-left: 35px;
  
    padding-top:0px;
  
    margin-bottom: 10px;
    width: 25%;
    float: left; 
  
  }
  .HairCareShopeNow{
    background-color: #CDFCF6;
    padding-right:0px;
    padding-bottom:5px;
    padding-top: 10px;
    text-align: center;
  }
  .slideshow-container-Haircare{
    float: left;
    padding-left:0px;
    position: relative;
    margin: auto;

  }
  .slideshow-container-Haircare img{
    width: 350px;
    height: 250px;
     
  }

  .active-Haircare {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade-Haircare {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade-Haircare {
    from {opacity: .4} 
    to {opacity: 1}
  }
/* might delet this later*/
  @media screen and (max-width: 800px) {
    .Haircare,.HaircarenewIn {   
      width: 100%;
      padding: 0;
    }
  }
  /*vid*/
  iframe{
  padding-left: 78px;
  }

  /*footer  193bb8  #2448cb */

  * {
    font-family: Arial;
    
  }
  
  section {
    width: 100%;
    display: inline-block;
    background: white;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    
  }
  
  .footer-distributed {
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: black;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed  {
      text-align: center;
    }
    .footer-distributed {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
/*about Us page*/

 
.Developers{
    width: 85%;
    padding-top: 0px;
    padding: 30px;
    margin: 100px auto;
    background-color: rgba(255,255,255,0.8);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15), 1px 1px 1px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
  }

.Developers h1{
 font-size: 20px;
 color: #98A8F8;
}
.Developers p{
  float: left;
}
/***/
